@model TechnicalTestScaffoldDeveloper.Models.CardsModel
@{
    ViewData["Title"] = "Card game";
}

<head>
    <script type="text/javascript" src="~/js/jquery-3.2.1.js"></script>
    <script>
        var selectedCards = [];
        var count = 0;
        var cardNumberRequired;
        $(function () {
            $('#textPrompt').html('<h3>Choose your @Model.CardNumberRequired card</h3>');
        });

        function button_card(card) {
            switch (selectedCards.push(card))
            {
                case 1:
                    cardNumberRequired = "second";
                    break;
                case 2:
                    cardNumberRequired = "third";
                    break;
                case 3:
                    cardNumberRequired = "fourth";
                    break;
                case 4:
                    cardNumberRequired = "fith";
                    break;
                case 5:
                    //return_data_ajax();
                    return_data_jQuery();

                    break;
            }
            $('#textPrompt').html('<h3>Choose your ' + cardNumberRequired + ' card</h3>')
        };

        function return_data_ajax() {
            $.post({
                url: '../Home/Index',
                data: { data: selectedCards },
                dataType: 'text',
                success: function () {
                }
            });
        };

        function return_data_jQuery() {
            for (var i = 0; i < selectedCards.length; i++)
            {
                $('#httpPost').append('<input type="hidden" name="data[]" value="' + selectedCards[i] + '" />');
            }
            $('#httpPost').submit();
        };

    </script>
</head>


<div id="textPrompt"><h3></h3></div>


<div class="row">
    @foreach (var card in Model.CardButtons)
    {
        <div class="col-md-1">
            <h2>
               @*@Html.ActionLink(card.ToString(), "Index", "Home", new { data = card }, null)*@

                <button onclick="button_card(@card.ToString())">
                    @card.ToString()

                </button>
            </h2>
        </div>
    }
</div>
<br />
<p>
    Rules:
    <ul>
        <li>Choose 5 cards</li>
        <li>Each combination of cards within your set that add to 15 will earn a extra point</li>
        <li>Pairs, triples and quadruples earn extra 2, 3 and 4 points repectively</li>
    </ul>
</p>
<p>Fun facts & cheats</p>
@Html.ActionLink("Numbers for zero score", "FindZeroScore", "Home")
<br />
@Html.ActionLink("Number of sets of cards which equal 15", "CountScoresThatEqualValues", "Home")
<form id="httpPost" action="../Home/Index" method="post" enctype="application/x-www-form-urlencoded"/>
