@model TechnicalTestScaffoldDeveloper.Models.CardsModel
@{
    ViewData["Title"] = "Card game";
}

<h3>Choose your @Model.CardNumberRequired card</h3>

<div class="row">
    <div class="col-md-1">
        <h2>
            @Html.ActionLink("1", "Index", "Home", new { data = 1 }, null)
        </h2>
    </div>
    <div class="col-md-1">
        <h2>
            @Html.ActionLink("2", "Index", "Home", new { data = 2 }, null)
        </h2>
    </div>
    <div class="col-md-1">
        <h2>
            @Html.ActionLink("3", "Index", "Home", new { data = 3 }, null)
        </h2>
    </div>
    <div class="col-md-1">
        <h2>
            @Html.ActionLink("4", "Index", "Home", new { data = 4 }, null)
        </h2>
    </div>
    <div class="col-md-1">
        <h2>
            @Html.ActionLink("5", "Index", "Home", new { data = 5 }, null)
        </h2>
    </div>
    <div class="col-md-1">
        <h2>
            @Html.ActionLink("6", "Index", "Home", new { data = 6 }, null)
        </h2>
    </div>
    <div class="col-md-1">
        <h2>
            @Html.ActionLink("7", "Index", "Home", new { data = 7 }, null)
        </h2>
    </div>
    <div class="col-md-1">
        <h2>
            @Html.ActionLink("8", "Index", "Home", new { data = 8 }, null)
        </h2>
    </div>
    <div class="col-md-1">
        <h2>
            @Html.ActionLink("9", "Index", "Home", new { data = 9 }, null)
        </h2>
    </div>
    <div class="col-md-1">
        <h2>
            @Html.ActionLink("10", "Index", "Home", new { data = 10 }, null)
        </h2>
    </div>
</div>
